// base
@use '@/styles/base/colorStyles' as *;
@use '@/styles/base/textStyles' as *;

// utilities
@use '@/styles/utilities/breakpoints' as *;
@use '@/styles/utilities/container' as *;
@use '@/styles/utilities/flex' as *;
@use '@/styles/utilities/menu' as *;

.products {
  padding: 64px 0;

  .container {
    @include container-flex-between(48px);
    flex-direction: column;

    .cards {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .cardsLow {
      width: 100%;
      display: none;
    }

  }
  // container
}


// @media screen and (max-width: 1539px) ..........................
@include xl {
  .products {
  }
  // products
}
// xl


// @media screen and (max-width: 1279px) ..........................
@include lg {
  .products {
    .container {
    }
    // container
  }
  // products
}
// lg


// @media screen and (max-width: 1023px) ..........................
@include md {
  .products {
    .container {
    }
    // container
  }
  // products
}
// md


// @media screen and (max-width: 767px) ..........................
@include sm {
  .products {
    .container {  
      .cardsLow {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    // container
  }
  // products
}
// sm