// black
$black: #000000;
$black-100: #1A1A1A;

// white
$white: #FFFFFF;
$white-100: #F6F6F6;

// primary
$primary-50: #E9F1FB;
$primary-100: #BCD2F1;
$primary-200: #9CBDEA;
$primary-300: #6E9FE1;
$primary-400: #528CDB;
$primary-500: #276FD2;
$primary-600: #2365BF;
$primary-700: #1C4F95;
$primary-800: #153D74;
$primary-900: #102F58;

// secondary
$secondary-50: #FBEDE9;
$secondary-100: #F2C8BB;
$secondary-200: #ECAE9A;
$secondary-300: #E4896C;
$secondary-400: #DE7250;
$secondary-500: #D64F24;
$secondary-600: #C34821;
$secondary-700: #98381A;
$secondary-800: #762B14;
$secondary-900: #5A210F;

// neutrals
$neutral-50: #EBEBEC;
$neutral-100: #C0C2C4;
$neutral-200: #A2A4A8;
$neutral-300: #777B80;
$neutral-400: #5D6168;
$neutral-500: #343A42;
$neutral-600: #2F353C;
$neutral-700: #25292F;
$neutral-800: #1D2024;
$neutral-900: #16181C;

// Reds

// Yellows

// Greens

// Blues